<li class="uk-card uk-card-default uk-card-body uk-padding-remove">
    <a href="#modal-detail" class="detail-link uk-padding-small" uk-toggle>
        <p class="uk-text-lead name-line">
            <span class="uk-hidden id" style="display:none;"></span>
            <span class="name"></span>
            <span class="room"></span>
            <span class="category uk-label" style="display:none;"></span>
        </p>
        <div class="address-line">
            <i class="fas fa-map-marker-alt"></i>
            <span class="pref"></span>
            <span class="city"></span>
            <span class="address"></span>
        </div>
        <div class="station-line">
            <i class="fas fa-train"></i>
            <span class="line"></span>
            <span class="station"></span>
            <span class="onfoot"></span>
        </div>
        <div>
            <span class="area"></span>
            <span class="capacity"></span>
            <span class="fee"></span>
        </div>
        <div>
            <span class="parking "></span>
            <span class="piano "></span>
            <span class="percussion "></span>
            <span class="stand"></span>
            <div style="display:none;">
                <span class="latitude"></span>
                <span class="longitude"></span>
            </div>
        </div>
        <div class="url" style="display:none;"></div>
    </a>
</li>