<div id="map-popup-template" style="display:none;">
    <div>
        <p class="uk-text-lead name-line">
            <span class="uk-hidden id" style="display:none;"></span>
            <span class="name"></span>
            <span class="room"></span>
            <span class="category uk-label" style="display:none;"></span>
        </p>
        <div class="address-line">
            <i class="fas fa-map-marker-alt"></i>
            <span class="pref"></span>
            <span class="city"></span>
            <span class="address"></span>
        </div>
        <div class="station-line">
            <i class="fas fa-train"></i>
            <span class="station"></span>
            <span class="onfoot"></span>
        </div>
        <a class="open-map">地図アプリで開く</a>
    </div>
</div>