<header class="uk-background-secondary uk-light">
    <nav class="uk-container uk-container-small uk-padding-remove" uk-navbar>
        <div class="uk-navbar-left">
            <a href="#offcanvas" class="uk-navbar-toggle uk-text-large" uk-toggle>
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <div class="uk-navbar-left uk-text-bold">
            <span class="uk-navbar-item uk-logo">関西音楽系施設まとめ</span>
        </div>
    </nav>
</header>