<div id="modal-overflow" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">条件検索</h2>
        </div>
        <div class="uk-modal-body" uk-overflow-auto>
            施設名
            <input class="uk-input" type="text" placeholder="" name="name-input">
            <ul uk-accordion="multiple: true">
                <li class="uk-open">
                    <a class="uk-accordion-title" href="#">都道府県</a>
                    <div class="uk-accordion-content">
                        <ul id="prefList" class="uk-list"></ul>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#">市区町村</a>
                    <div class="uk-accordion-content">
                        <ul id="cityList" class="uk-list"></ul>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#">最寄駅</a>
                    <div class="uk-accordion-content">
                        <ul id="stationList" class="uk-list"></ul>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#">分類</a>
                    <div class="uk-accordion-content">
                        <ul id="categoryList" class="uk-list"></ul>
                    </div>
                </li>
            </ul>
            その他条件
            <ul class="uk-list">
                <li>
                    <label>
                        <input id="pianoCheckbox" class="uk-checkbox" type="checkbox"
                            value="piano">ピアノあり
                    </label>
                </li>
                <li>
                    <label>
                        <input id="percCheckbox" class="uk-checkbox" type="checkbox"
                            value="perc">打楽器貸出あり
                    </label>
                </li>
                <li>
                    <label>
                        <input id="standCheckbox" class="uk-checkbox" type="checkbox"
                            value="stand">譜面台貸出あり
                    </label>
                </li>
            </ul>
        </div>
        <div class="uk-modal-footer uk-text-right ">
            <button class="uk-button uk-button-default uk-modal-close search-button" type="button">キャンセル</button>
            <button class="uk-button uk-button-primary uk-modal-close search-button" type="button" id="search-button">
                検索
            </button>
        </div>
    </div>
</div>