<div id="offcanvas" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-padding-remove uk-box-shadow-large">
        <ul class="uk-nav uk-nav-default side-nav uk-padding-small">
            <li class="uk-nav-header uk-logo">関西音楽系施設まとめ</li>
            <li><a href="index.html"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="facilities.html"><i class="fas fa-music"></i>練習場一覧</a></li>
            <li><a href="concerthall.html"><i class="fas fa-university"></i>コンサートホール一覧</a></li>
            <li class="uk-nav-divider"></li>
            <li>Copyright &copy; 2020 kansai-mfd Contributors All Rights Reserved.</li>
        </ul>
    </div>
</div>